[submodule "glfw"]
	path = application/submodules/glfw
	url = https://github.com/glfw/glfw

[submodule "wgpu-native"]
	path = application/submodules/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native
[submodule "zig-qoi"]
	path = application/submodules/zig-qoi
	url = https://github.com/ikskuh/zig-qoi.git
