[submodule "application/libraries/wgpu-native"]
	path = application/libraries/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native

[submodule "application/libraries/glfw"]
	path = application/libraries/glfw
	url = https://github.com/glfw/glfw
